.faf {
    margin: 20px;
    background-color: rgb(204, 213, 174);
    color: rgb(20, 33, 61);
    border-radius: 70px;
    display: inline-block;
}

.number {
    display: inline-block;
    width: 31px;
    height: 31px;
    font-size: 20px;
    border-radius: 100%;
    background-color: rgb(20, 33, 61);
    color: rgb(254, 250, 224);
}

.actividades {
    display: flex;
    padding: 20px;
}
.actividad {
    width: 140px;
    font-size: 15px;
    margin: 10px;
}

.actividadButton {
    cursor: pointer;
    border-radius: 50px;
    width: 80px;
    height: 30px;
    background-color: rgb(212, 163, 115);
    border: none;
    box-shadow: 0px 0px 5px 0px black;
    margin-bottom: 10px;
}

.actividad button:hover {
    scale: 1.05;
    transition: .3s;
}

.icon {
    font-size: 40px;
}

.buttonActive {
    cursor: pointer;
    border-radius: 50px;
    width: 80px;
    height: 30px;
    background-color: aqua;
    border: none;
    box-shadow: 0px 0px 5px 0px black;
    margin-bottom: 10px;
}
