.buttonModal {
    width: 60px;
    height: 30px;
    color: black;
    background-color: rgb(212, 163, 115);
    border-radius: 70px;
    cursor: pointer;
    border: none;
    margin-top: 100px;
}

.containerResult {
    width: 400px;
    height: 400px;
    background-color: rgba(204, 213, 174, 0.712);
    border-radius: 70px;
    display: inline-block;
}

.Result {
    margin-top: 60px;
    color: rgb(20, 33, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result2 {
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

@media (max-width: 450px) {
    .containerResult {
        width: 300px;
    }
}