.calculoCalorias {
    margin: 20px;
    display: inline-block;
    width: 300px;
    height: 60px;
    background-color: rgb(212, 163, 115);
    color: rgb(20, 33, 61);
    border-radius: 70px;
    cursor: pointer;
}

.calculoCalorias p {
    margin-top: 20px;
}

.calculoCalorias:hover {
    scale: 1.05;
    transition: .3s;
}